*{
    margin: 0%;
    padding: 0%;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color:blueviolet;

    
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 300px;
    width: 230px;
    border: 1px solid salmon;
    border-radius: 20px;
    position: absolute;
    overflow: hidden;

    /*for rotating by X/Y-axis not Centering */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
}

#card1{
    z-index: 4;
}

#card2{
    z-index: 3;
    rotate: -15deg;
}

#card3{
    z-index: 2;
    rotate: -30deg;
}

#card4{
    z-index: 1;
    rotate: -45deg;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#card1:hover{
    z-index: 10;
}

#card2:hover{
    z-index: 10;
}

#card3:hover{
    z-index: 10;
}

#card4:hover{
    z-index: 10;
}



